.form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.form a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #dbacc6 0%, #0d3069 51%, #dbacc6 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: .5s;
}
.form a:hover {background-position: right center;}
