*{
  margin: 0;
  padding: 0;
  color: #f2f5f7;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;

}
@media screen and (min-width: 450px) {
  body {
    /*height: 1100px;*/
    overflow-x: hidden;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
}
@media screen and (max-width: 450px) {
  body{
    background-color: darkviolet;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*.slick-slide img {*/
/*  margin: auto;*/
/*}*/

/*.icons img{*/
/*  width: 50px;*/
/*  height: 50px;*/
/*}*/

/*.icons_title{*/
/*  !*position: fixed;*!*/
/*  !*margin-top: 60px;*!*/
/*}*/
/*!*.header_logo img{*!*/
/*!*  width: 250px;*!*/
/*!*  height: 150px;*!*/
/*!*}*!*/
/*!*.header{*!*/
/*!*  display: flex;*!*/
/*!*  flex-direction: row;*!*/
/*!*  align-items: center;*!*/
/*!*  justify-content: space-between;*!*/
/*!*  background-color: blanchedalmond;*!*/
/*!*}*!*/
/*.cont{*/

/*}*/
/*a.nav-link{*/
/*  color: black;*/
/*  font-size: 20px;*/
/*  margin: 2px;*/
/*}*/
/*footer{*/
/*  background-color: black;*/
/*  color: #eaeaea;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  !*margin-top: 50px;*!*/
/*}*/
/*.icons{*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  padding: 3px;*/
/*}*/
/*.icon{*/
/*  margin: 2px;*/
/*}*/
/*.body_text{*/
/*  max-width: 1000px;*/
/*  background-color: lightgray;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*}*/



/*p{*/
/*  margin: 20px 0;*/
/*}*/
/*.burger-btn{*/
/*  margin-left: 25px;*/
/*  cursor: pointer;*/
/*  display: none;*/
/*}*/

/*.menu{*/
/*  position: fixed;*/
/*  width: 100vw;*/
/*  height: 100vh;*/
/*  top: 75px;*/
/*  left: 0;*/
/*  transform: translateX(-130%);*/
/*  transition: all 0.2s;*/
/*}*/
/*.menu.active{*/
/*  transform: translateX(0);*/
/*}*/
/*.blur{*/
/*  width: 100vw;*/
/*  height: 100vh;*/
/*  left:30%;*/
/*  backdrop-filter: blur(2px);*/
/*  position: absolute;*/
/*}*/
/*!*.nav{*!*/
/*!*   height: 75px;*!*/
/*!*   width: 100%;*!*/
/*!*   position: fixed;*!*/
/*!*   z-index: 50;*!*/
/*!*   display: flex;*!*/
/*!*   align-items: center;*!*/
/*!*   top: 0;*!*/
/*!*   left: 0;*!*/
/*!*  flex-direction: row-reverse;*!*/
/*!*  justify-content: space-between;*!*/
/*!*  background-color: white;*!*/

/*!* }*!*/
/*.menu__content {*/
/*  !*position: fixed;*!*/
/*  width: 30%;*/
/*  height: 100%;*/
/*  background-color:black;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  transition: all 0.4s;*/
/*}*/
/*.menu__content ul{*/
/*  margin-top: 20px;*/
/*}*/
/*.menu__header{*/
/*  padding: 10px;*/
/*  font-size: 2rem;*/
/*  color:white;*/
/*  border-bottom: 1px solid white;*/
/*  width: 100%;*/
/*  text-align: center;*/
/*}*/
/*ul li a{*/
/*  color: white;*/
/*  text-decoration: none;*/
/*}*/
/*ul{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-between;*/

/*}*/
/*.material-icons{*/
/*  color: white;*/
/*}*/

/*footer{*/
/*  background-color: #0070f3;*/
/*}*/

/*.slide{*/
/*  !*margin-top: 25px;*!*/
/*}*/
/*.navi{*/
/*  background-color: #0070f3;*/
/*}*/
/*@media (max-width: 768px){*/
/*    .burger-btn{*/
/*        display: block;*/
/*    }*/
/*  .navi{*/
/*    display: none;*/
/*  }*/
/*}*/
/*!*@media (max-width: 768px){*!*/
/*!*    *!*/

/*!*}*!*/


/*iframe{*/
/*  border-radius: 5px;*/
/*  border:2px solid red;*/
/*  !*margin-top: 30px;*!*/
/*}*/



