/*Navbar*/
/*////////////////////////////////////////////////////////////////*/

nav {
    height: 16vh;
    width: 100%;
    background-color: #2a2626;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
    top:0;
}

.nav-links {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    list-style: none;
    width: 100%;
    /* padding: 0 0.7vw; */
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.li a {
    text-decoration: none;
    margin: 0 0.7vw;
}

.li a:hover {
    color: #61DAFB;
}

.li {
    position: relative;
}

.li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 12%;
}

.li a:hover::before {
    width: 80%;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #2a2626;
        height: 150px;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        /*margin-bottom: 20px;*/
    }

    .landing {
        flex-direction: column;
    }

    .li {
        opacity: 0;
    }

    .li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    .li.fade {
        opacity: 1;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

